In [1]:
import sys
print(sys.executable)

import pandas as pd
import numpy as np
import os, glob

from pathlib import Path
import typing

from typing import List, Dict, Any, Union, Optional

/home/armen.kocharyan/dev_env/bin/python

In [141]:
ds_path = "/home/armen.kocharyan/datasets/2023_12_datasets/youtube_markers.20231205.dset.train.tsv.gz"
df_ds = pd.read_csv(ds_path, sep='\t', compression='gzip', header=None)

In [32]:
len(df_ds)

30658

In [65]:
vk_markers = "../2023_12_datasets/vk_markers.20231205.dset.train.tsv.gz"
vk_markers = pd.read_csv(vk_markers, sep='\t', compression='gzip', header=None)
len(vk_markers), 324329

(324329, 324329)

In [64]:
vk_markers.head()

,0,1,2,3,4,5,6,7,8,9,...,348,349,350,351,352,353,354,355,356,357
0,12,1,-,-,1,3,1,408,-,#SAINTCYPHER / ВЕТЛ УДАЛЫХ,...,-1.000000,0,0,1,0.5234,1.5232,319.667786,984.555664,984.555664,1
1,18,1,-,-,1,2,1,410,-,#SAINTCYPHER / ВЕТЛ УДАЛЫХ,...,0.175000,0,0,1,0.5234,1.5232,319.667786,976.653809,976.653809,1
2,31,1,-,-,1,2,1,412,-,#SAINTCYPHER / ВЕТЛ УДАЛЫХ,...,-1.000000,0,0,1,0.5234,1.5232,319.667786,981.753784,981.753784,1
3,5,1,-,-,1,3,1,413,-,#SAINTCYPHER / ВЕТЛ УДАЛЫХ,...,-1.000000,0,0,1,0.5234,1.5232,319.667786,970.617310,970.617310,1
4,39,1,-,-,1,2,1,407,-,#SAINTCYPHER / ВЕТЛ УДАЛЫХ,...,0.416667,0,0,1,0.5234,1.5232,319.729309,1071.352539,1071.352539,1

In [138]:
ds_path = "../2023_12_datasets/video_urls.20231207.text_fields.tsv.gz"
df_fileds = pd.read_csv(ds_path, sep='\t', compression='gzip', low_memory=False)

In [139]:
len(df_fileds)

1926167

In [39]:
df_ds.head()

,0,1,2,3,4,5,6,7,8,9,...,350,351,352,353,354,355,356,357,query,url
0,16,0,-,-,1,2,1,1607,-,1,...,0,1,0.0000,0.0252,0.000000,958.494263,958.494263,0,1,http://my.mail.ru/mail/kirgizmustafa17/video/_...
1,21,1,-,-,1,1,1,198,-,1 выжывший против 100 зомби пабг,...,0,1,0.0000,1.8170,221.608261,723.376282,723.376282,1,1 выжывший против 100 зомби пабг,http://kino.mail.ru/series_803429_vyzhit_posle...
2,16,1,-,-,1,1,1,199,-,1 выжывший против 100 зомби пабг,...,0,1,0.0000,1.8170,178.695862,694.782715,694.782715,1,1 выжывший против 100 зомби пабг,http://ok.ru/video/288772851174
3,3,1,-,-,1,1,1,202,-,1 выжывший против 100 зомби пабг,...,0,1,0.0252,1.8170,221.438309,672.774048,672.774048,1,1 выжывший против 100 зомби пабг,http://www.youtube.com/watch?v=Sq4sVR66SpA
4,14,1,-,-,1,1,1,205,-,1 выжывший против 100 зомби пабг,...,0,1,0.0000,1.8170,235.272354,680.395508,680.395508,1,1 выжывший против 100 зомби пабг,http://www.youtube.com/watch?v=kGhOOuV6_d4

In [41]:
df_fileds.head()

,key,name,description,userNick
0,1tv.ru/doc/pro-voynu/gorod-v-ogne,«Город в огне». Документальный фильм о Сталинг...,"Фильм о Сталинградской битве, которая переломи...",NaN
1,1tv.ru/doc/pro-voynu/parad-1941-goda-na-krasno...,«Парад 1941 года на Красной площади». Документ...,Первое международное признание советского кино...,NaN
2,1tv.ru/doc/pro-vse-na-svete/tayny-smerti-dokum...,«Тайны смерти». Документальный фильм,Современная наука вслед за религией приходит к...,NaN
3,1tv.ru/doc/pro-zhizn-zamechatelnyh-lyudey/dmit...,«Дмитрий Харатьян. Я ни в чем не знаю меры». Д...,Дмитрий Харатьян и в 60 умудряется выглядеть н...,NaN
4,1tv.ru/doc/pro-zhizn-zamechatelnyh-lyudey/elen...,«Елена Проклова. До слез бывает одиноко...». Д...,"Это фильм о человеке, которого счастливым сдел...",NaN

In [67]:
df_ds["query"] = df_ds[9]
df_ds["url"]   = df_ds[10]

df_fileds["url"] = df_fileds["key"]

res = df_fileds.merge(df_ds, on=["url"])[["url", "query", "name", "description", "userNick", 5]]
# res[res[5] == 3]

In [56]:
res["query"] = [query.split("@")[0] for query in res["query"]]
res["query"]

0                                        чья фирма хавал
1                            заставка тв бинго казахстан
2        что где когда зимняя серия игр 2017 игра вторая
3        что где когда зимняя серия игр 2017 игра вторая
4                  noodlemagazine порно майнкрафт трансы
                              ...
29723                               гей порно с насилием
29724                                        гермиона 18
29725                               гей порно с насилием
29726           видео по демченко при грыже позвоночника
29727                                               амик
Name: query, Length: 29728, dtype: object

In [29]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df1.merge(df2, how='inner', on='a')

     a  b  c
0  foo  1  3

In [48]:
len(df_fileds.key), len(set(df_fileds.key))

(1926167, 1926167)

In [59]:

datasets_path = "../../datasets/2023_12_datasets/"
datasets_suffix = "dset.train.tsv.gz"
dir = os.path.join(datasets_path, "*" + datasets_suffix)
for file in glob.glob(dir):
    print(file)

../../datasets/2023_12_datasets/vk_catalog_markers.20231205.dset.train.tsv.gz
../../datasets/2023_12_datasets/vk_markers.20231205.dset.train.tsv.gz
../../datasets/2023_12_datasets/vk_ab_iphone_markers.20231205.dset.train.tsv.gz
../../datasets/2023_12_datasets/vk_rich_serps_markers.20231101-20231105.mail.20231205.dset.train.tsv.gz
../../datasets/2023_12_datasets/old_sq_markers.20231205.dset.train.tsv.gz
../../datasets/2023_12_datasets/youtube_markers.20231205.dset.train.tsv.gz

In [62]:
os.listdir("/mnt/DATA/armen.kocharyan/datasets/notebooks/*")

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/DATA/armen.kocharyan/datasets/notebooks/*'

In [69]:
df_ = pd.read_csv('/mnt/DATA/armen.kocharyan/datasets/2023_12_datasets/vk_markers.20231205.dset.train.tsv.gz', header=None, sep='\t')

In [81]:
df_.head()

,0,1,2,3,4,5,6,7,8,9,...,348,349,350,351,352,353,354,355,356,357
0,12,1,-,-,1,3,1,408,-,#SAINTCYPHER / ВЕТЛ УДАЛЫХ,...,-1.000000,0,0,1,0.5234,1.5232,319.667786,984.555664,984.555664,1
1,18,1,-,-,1,2,1,410,-,#SAINTCYPHER / ВЕТЛ УДАЛЫХ,...,0.175000,0,0,1,0.5234,1.5232,319.667786,976.653809,976.653809,1
2,31,1,-,-,1,2,1,412,-,#SAINTCYPHER / ВЕТЛ УДАЛЫХ,...,-1.000000,0,0,1,0.5234,1.5232,319.667786,981.753784,981.753784,1
3,5,1,-,-,1,3,1,413,-,#SAINTCYPHER / ВЕТЛ УДАЛЫХ,...,-1.000000,0,0,1,0.5234,1.5232,319.667786,970.617310,970.617310,1
4,39,1,-,-,1,2,1,407,-,#SAINTCYPHER / ВЕТЛ УДАЛЫХ,...,0.416667,0,0,1,0.5234,1.5232,319.729309,1071.352539,1071.352539,1

In [92]:
DCOLS = [5, 9, 10]
df_.iloc[df_[DCOLS].dropna().index, :], len(df_)

(        0      1   2   3    4    5    6       7   8    \
 0        12      1   -   -    1    3    1     408   -
 1        18      1   -   -    1    2    1     410   -
 2        31      1   -   -    1    2    1     412   -
 3         5      1   -   -    1    3    1     413   -
 4        39      1   -   -    1    2    1     407   -
 ...     ...    ...  ..  ..  ...  ...  ...     ...  ..
 324324   34  78288   -   -    1    2    1  486482   -
 324325    0  78288   -   -    1    2    1  486485   -
 324326   14  78288   -   -    1    2    1  486484   -
 324327   10  78288   -   -    1    2    1  486481   -
 324328   11  78288   -   -    1    2    1  486477   -

                                9    ...       348  349  350  351     352  \
 0       #SAINTCYPHER / ВЕТЛ УДАЛЫХ  ... -1.000000    0    0    1  0.5234
 1       #SAINTCYPHER / ВЕТЛ УДАЛЫХ  ...  0.175000    0    0    1  0.5234
 2       #SAINTCYPHER / ВЕТЛ УДАЛЫХ  ... -1.000000    0    0    1  0.5234
 3       #SAINTCYPHER / ВЕТЛ УДАЛЫХ  ... -1.000000    0    0    1  0.5234
 4       #SAINTCYPHER / ВЕТЛ УДАЛЫХ  ...  0.416667    0    0    1  0.5234
 ...                            ...  ...       ...  ...  ...  ...     ...
 324324    방탄소년단 кириллизация песен  ... -1.000000    0    0    1  0.0000
 324325    방탄소년단 кириллизация песен  ... -1.000000    0    0    0  0.0000
 324326    방탄소년단 кириллизация песен  ... -1.000000    0    0    1  0.0000
 324327    방탄소년단 кириллизация песен  ... -1.000000    0    0    1  0.0000
 324328    방탄소년단 кириллизация песен  ... -1.000000    0    0    1  0.4067

            353         354          355          356  357
 0       1.5232  319.667786   984.555664   984.555664    1
 1       1.5232  319.667786   976.653809   976.653809    1
 2       1.5232  319.667786   981.753784   981.753784    1
 3       1.5232  319.667786   970.617310   970.617310    1
 4       1.5232  319.729309  1071.352539  1071.352539    1
 ...        ...         ...          ...          ...  ...
 324324  1.0989  257.337097   808.891907   808.891907    1
 324325  1.0989  257.380005   847.805908   847.805908    1
 324326  1.0989  319.667816   871.459717   871.459717    1
 324327  1.0989  257.337097   804.660278   804.660278    1
 324328  1.0989  257.347809   854.328247   854.328247    1

 [324326 rows x 358 columns],
 324329)

In [3]:
x = ["1", "2", "3", "44", "r"]
all([col.isdigit() for col in x]), ",".join(x[:-1]).isdigit()

(False, False)

In [104]:
pd.read_csv(ds_path, sep='\t', compression='gzip', low_memory=False, nrows=10, header=None)

,0,1,2,3
0,key,name,description,userNick
1,1tv.ru/doc/pro-voynu/gorod-v-ogne,«Город в огне». Документальный фильм о Сталинг...,"Фильм о Сталинградской битве, которая переломи...",NaN
2,1tv.ru/doc/pro-voynu/parad-1941-goda-na-krasno...,«Парад 1941 года на Красной площади». Документ...,Первое международное признание советского кино...,NaN
3,1tv.ru/doc/pro-vse-na-svete/tayny-smerti-dokum...,«Тайны смерти». Документальный фильм,Современная наука вслед за религией приходит к...,NaN
4,1tv.ru/doc/pro-zhizn-zamechatelnyh-lyudey/dmit...,«Дмитрий Харатьян. Я ни в чем не знаю меры». Д...,Дмитрий Харатьян и в 60 умудряется выглядеть н...,NaN
5,1tv.ru/doc/pro-zhizn-zamechatelnyh-lyudey/elen...,«Елена Проклова. До слез бывает одиноко...». Д...,"Это фильм о человеке, которого счастливым сдел...",NaN
6,1tv.ru/doc/pro-zhizn-zamechatelnyh-lyudey/miry...,«Миры и войны Сергея Бондарчука». Документальн...,"Его кинополотна знает весь мир, он был на войн...",NaN
7,1tv.ru/doc/pro-zhizn-zamechatelnyh-lyudey/nata...,"«Наталья Гундарева. О том, что не сбылось». До...",Наталью Гундареву не просто любили — обожали. ...,NaN
8,1tv.ru/movies/operaciya-satana/operaciya-satan...,Операция «Сатана». 1 серия,После громкого скандала Черкасов работает рядо...,NaN
9,1tv.ru/news/2001/02/24/283024-v_rossii_segodny...,В России сегодня последний день Масленицы. Дре...,Гимны весне звучат сегодня отовсюду. Завтра с ...,NaN

## Check data

In [16]:
import os, glob
import pandas as pd

In [85]:
def main(subset):
    datasets = []
    basedir = "../test_video/"
    for dir in os.listdir(basedir):
        dir = os.path.join(basedir, dir, subset)
        for file in glob.glob(dir):
            datasets.append(file)
    return datasets

res = main("data_train*")
res

['../test_video/vk_catalog_markers/data_train.tsv',
 '../test_video/vk_rich_serps_markers/data_train.tsv',
 '../test_video/vk_markers/data_train.tsv',
 '../test_video/vk_ab_iphone_markers/data_train.tsv',
 '../test_video/youtube_markers/data_train.tsv',
 '../test_video/old_sq_markers/data_train.tsv']

In [86]:
df = pd.read_csv(res[4], sep='\t', header=None)

In [92]:
df[df[4] == 3]

                                      0  ...  4
37                little mix i love you  ...  3
55                      Властелин колец  ...  3
59               abba gimme gimme gimme  ...  3
60                         sabrina boys  ...  3
65               пора домой сектор газа  ...  3
...                                 ...  ... ..
385068     Гарри Повар и Тайная комната  ...  3
385078              оппенгеймер трейлер  ...  3
385094  круг михаил пощенячи по волчьим  ...  3
385115                до утра дан балан  ...  3
385116    de-grees - circle in the sand  ...  3

[22048 rows x 5 columns]

In [98]:
len(df), len(df[~df[2].isna()])

(385134, 270563)

In [140]:
_ = df_fileds[df_fileds["description"].isin(["vk.com/kinokritika_pro"])] #["key"] #== "vk.com/video99711455_456244190"
_[_["key"] == "vk.com/video99711455_456244190"]

                                    key  ... userNick
1885244  vk.com/video99711455_456244190  ...      NaN

[1 rows x 4 columns]

In [142]:
_ = df_ds[df_ds[9].isin(["оппенгеймер трейлер"])][[5, 9, 10]]
_[_[10] == "vk.com/video99711455_456244190"]

        5                    9                               10
371836   3  оппенгеймер трейлер  vk.com/video99711455_456244190

In [137]:
_  = df[df[4] == 3]
_[_[2] == "vk.com/kinokritika_pro"]

                          0                        1  ...    3  4
385078  оппенгеймер трейлер  «Оппенгеймер» | Трейлер  ...  NaN  3

[1 rows x 5 columns]

In [44]:
d = pd.DataFrame({"f": ["1", "2", None]})

In [77]:
len(df_fileds) == len(df_fileds['key'].dropna()) == len(df_fileds[~df_fileds['key'].isna()])

True

In [80]:
pd.DataFrame({"f": [1, 2, 3]})["f"].sum()

6

In [147]:
!ls /mnt/DATA/mlearning/n.ermolaev/dataset/vk_video/model_data/processed_train_xlmroberta/data.pck

/mnt/DATA/mlearning/n.ermolaev/dataset/vk_video/model_data/processed_train_xlmroberta/data.pck

In [156]:
# import pickle
# os.chdir()
# dataset_path = "/mnt/DATA/mlearning/n.ermolaev/dataset/vk_video/model_data/processed_train_xlmroberta/data.pck"
# with open(dataset_path, "rb") as chunk_file:
#     data_ = pickle.load(chunk_file)

In [157]:
# !ls ../../ranking-pipeline

# DATA EDA

#### Source data

In [36]:
# !ls /home/armen.kocharyan/datasets/2023_12_datasets/
# !ls /home/armen.kocharyan/datasets/2023_12_datasets/user_features_best_dup_347

In [37]:

def main(basedir, subset):
    datasets = []
    for file in glob.glob(os.path.join(basedir, subset)):
        datasets.append(file)
    return datasets


def rename_index(df, last_idx=-2):
    df.index = df.index.map(lambda x: "/".join(x.split("/")[last_idx:]))
    return df


def calc_missing(datasets: List[str], column_idx: List[Union[int, str]], 
                 column_map: Dict[Any, Any], header: Optional[str] = None, abs: bool = True):
    res = []
    index = []
    for i in range(len(datasets)):
        train_df = pd.read_csv(datasets[i], sep='\t', header=header)
        res.append((
            train_df[column_idx].rename(columns=column_map).isnull().sum() / ( 1 if abs else len(train_df) )
            ).to_dict())
        index.append(datasets[i])
    return pd.DataFrame(res, index=index)

In [38]:
train_datasets = main("/home/armen.kocharyan/datasets/2023_12_datasets/", "*train*")
test_datasets = main("/home/armen.kocharyan/datasets/2023_12_datasets/", "*test*")

In [39]:
sorted([*map(lambda x: Path(x).name, train_datasets)])

['old_sq_markers.20231205.dset.train.tsv.gz',
 'vk_ab_iphone_markers.20231205.dset.train.tsv.gz',
 'vk_catalog_markers.20231205.dset.train.tsv.gz',
 'vk_markers.20231205.dset.train.tsv.gz',
 'vk_rich_serps_markers.20231101-20231105.mail.20231205.dset.train.tsv.gz',
 'youtube_markers.20231205.dset.train.tsv.gz']

In [40]:
sorted([*map(lambda x: Path(x).name, test_datasets)])

['old_sq_markers.20231205.dset.test.tsv.gz',
 'vk_catalog_markers.20231205.dset.test.tsv.gz',
 'vk_markers.20231205.dset.test.tsv.gz',
 'vk_rich_serps_markers.20231101-20231105.mail.20231205.dset.test.tsv.gz',
 'youtube_markers.20231205.dset.test.tsv.gz']

In [41]:
calc_missing(train_datasets, [5, 9, 10], {5: "rel", 9: "query", 10: "url"})

                                                    rel  query  url
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    0.0  0.0
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    3.0  0.0
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    0.0  0.0
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    0.0  0.0
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    0.0  0.0
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    0.0  0.0

<span style="color:red">Можно увидеть, что в исходных новых датасетах практически нет пропусков (в vk_markers.20231205.dset.train.tsv.gz 3 отсутсвующих начения в колонке query). Ниже можно увидеть что в тесте нет пропусков. </span>

In [42]:
calc_missing(test_datasets, [5, 9, 10], {5: "rel", 9: "query", 10: "url"})

                                                    rel  query  url
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    0.0  0.0
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    0.0  0.0
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    0.0  0.0
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    0.0  0.0
/home/armen.kocharyan/datasets/2023_12_datasets...  0.0    0.0  0.0

<span style="color:red"> В двух таблицах ниже можно увидеть отсутсвующие значения для значащих полей в датасете ... fields ... (в долях относительно размера датасета и абсолютное количесвтво) </span>

In [43]:
calc_missing(
    ['/home/armen.kocharyan/datasets/2023_12_datasets/video_urls.20231207.text_fields.tsv.gz'], 
    ['key', 'name', 'description', 'userNick'], 
    {"key":"url", "name":"title", "description":"body", "userNick":"user"},
    "infer", False,
    )

/tmp/ipykernel_8744/2279612491.py:1: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  calc_missing(

,url,title,body,user
/home/armen.kocharyan/datasets/2023_12_datasets/video_urls.20231207.text_fields.tsv.gz,0.0,0.000006,0.347521,0.370351

In [44]:
calc_missing(
    ['/home/armen.kocharyan/datasets/2023_12_datasets/video_urls.20231207.text_fields.tsv.gz'], 
    ['key', 'name', 'description', 'userNick'], 
    {"key":"url", "name":"title", "description":"body", "userNick":"user"},
    "infer", True,
    )

/tmp/ipykernel_8744/1725126414.py:1: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  calc_missing(

,url,title,body,user
/home/armen.kocharyan/datasets/2023_12_datasets/video_urls.20231207.text_fields.tsv.gz,0.0,12.0,669384.0,713358.0

### PostProcess Data

In [53]:
# !ls ../../datasets/test_video/vk_ab_iphone_markers

In [57]:
dss = []
base_path = "../../datasets/test_video/"
for ds in os.listdir(base_path):
    ds_path = os.path.join(base_path, ds)
    for f in os.listdir(ds_path):
        if ".txt" in f:
            continue
        dss.append(os.path.join(ds_path, f))
df = calc_missing(dss, [0, 1, 2, 3, 4], {0: "query", 1: "title", 2: "body", 3: "user", 4: "rel"}, abs=False)

/tmp/ipykernel_8744/3650888212.py:9: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  df = calc_missing(dss, [0, 1, 2, 3, 4], {0: "query", 1: "title", 2: "body", 3: "user", 4: "rel"}, abs=False)

In [58]:
# С удалением дубликатов
df.index = df.index.map(lambda x: "/".join(x.split("/")[-2:]))
df

                                      query     title      body      user  rel
vk_catalog_markers/data_train.tsv       0.0  0.000008  0.444241  0.188551  0.0
vk_catalog_markers/data_test.tsv        0.0  0.000000  0.439563  0.129567  0.0
vk_rich_serps_markers/data_train.tsv    0.0  0.000015  0.401692  0.192657  0.0
vk_rich_serps_markers/data_test.tsv     0.0  0.000019  0.403761  0.190399  0.0
vk_markers/data_train.tsv               0.0  0.000000  0.453070  0.376304  0.0
vk_markers/data_test.tsv                0.0  0.000000  0.410799  0.368558  0.0
vk_ab_iphone_markers/data_train.tsv     0.0  0.000000  0.404043  0.336029  0.0
youtube_markers/data_train.tsv          0.0  0.000000  0.282896  0.348524  0.0
youtube_markers/data_test.tsv           0.0  0.000000  0.295718  0.369347  0.0
old_sq_markers/data_train.tsv           0.0  0.000000  0.249812  0.417521  0.0
old_sq_markers/data_test.tsv            0.0  0.000000  0.248530  0.421178  0.0

In [30]:
# Без удалениея дубликатов (старая ячейка)
df.index = df.index.map(lambda x: "/".join(x.split("/")[-2:]))
df

                                      query     title      body      user  rel
vk_catalog_markers/data_train.tsv       0.0  0.000007  0.451452  0.196088  0.0
vk_catalog_markers/data_test.tsv        0.0  0.000000  0.449913  0.131653  0.0
vk_rich_serps_markers/data_train.tsv    0.0  0.000010  0.351279  0.178594  0.0
vk_rich_serps_markers/data_test.tsv     0.0  0.000011  0.366466  0.174979  0.0
vk_markers/data_train.tsv               0.0  0.000000  0.461393  0.387823  0.0
vk_markers/data_test.tsv                0.0  0.000000  0.426841  0.383647  0.0
vk_ab_iphone_markers/data_train.tsv     0.0  0.000000  0.408353  0.352233  0.0
youtube_markers/data_train.tsv          0.0  0.000000  0.297483  0.359823  0.0
youtube_markers/data_test.tsv           0.0  0.000000  0.308355  0.379132  0.0
old_sq_markers/data_train.tsv           0.0  0.000000  0.256001  0.424300  0.0
old_sq_markers/data_test.tsv            0.0  0.000000  0.255180  0.428014  0.0

<span style="color:red"> Тут можно увидеть количество пропущенных значений для обработанных новых датасетов </span>

### Old data

 <span style="color:red"> Возьмем интересующие старые датасеты и посмотрим на пропуски там (абсолютные значения / доли) </span>

In [59]:
base_path = "/mnt/DATA/mlearning/n.ermolaev/dataset/vk_video"
dss = [
    "features_dump-old_sq.20220915.preprocessed.with_info",
    "features_dump-vk_markers.20221214.preprocessed.with_info",
    "features_dump-youtube_markers.20221214.preprocessed.with_info",
]
full_path_dss = []
for file in map(lambda x: os.path.join(base_path, x, "low_texts"), dss):
    full_path_dss.append(os.path.join(file, "texts_train.tsv"))

In [60]:
rename_index(calc_missing(
        full_path_dss, 
        [0, 1, 2, 3], 
        {0:"query", 1:"title", 2:"body", 3: "rel"},
    ), -3)

,query,title,body,rel
features_dump-old_sq.20220915.preprocessed.with_info/low_texts/texts_train.tsv,0.0,44724.0,108383.0,0.0
features_dump-vk_markers.20221214.preprocessed.with_info/low_texts/texts_train.tsv,7.0,2292.0,102398.0,0.0
features_dump-youtube_markers.20221214.preprocessed.with_info/low_texts/texts_train.tsv,0.0,908.0,30350.0,0.0

In [61]:
rename_index(calc_missing(
        full_path_dss, 
        [0, 1, 2, 3], 
        {0:"query", 1:"title", 2:"body", 3: "rel"},
        abs=False,
    ), -3)

,query,title,body,rel
features_dump-old_sq.20220915.preprocessed.with_info/low_texts/texts_train.tsv,0.000000,0.119925,0.290622,0.0
features_dump-vk_markers.20221214.preprocessed.with_info/low_texts/texts_train.tsv,0.000029,0.009570,0.427572,0.0
features_dump-youtube_markers.20221214.preprocessed.with_info/low_texts/texts_train.tsv,0.000000,0.008409,0.281071,0.0

### Check diffs between new & old data

In [ ]:
def get_queries(dataset):
    queries = {}
    for ds in dataset:
       queries[ds] = pd.read_csv(ds, sep="\t", header=None).iloc[:, 0].tolist()
    return queries

def dict_ds_rename(name):
    if "old_sq" in name:
        return "old_sq"
    elif "youtube_markers" in name:
        return "youtube_markers"
    elif "vk_markers" in name:
        return "vk_markers"
    raise Exception("Error")

def create_df(old_data: dict, new_data: dict):
    res = []
    index = []
    for key in old_data:
        index.append(key)
        res.append({
            "uniq_union":    len(set(old_data[key]) | set(new_data[key])),
            "uniq_intersec": len(set(old_data[key]) & set(new_data[key])),
            "uniq_old":      len(set(old_data[key])),
            "uniq_new":      len(set(new_data[key])),
            "old":           len(old_data[key]),
            "new":           len(new_data[key]),
            "union":         len(old_data[key] + new_data[key])
        })
    return pd.DataFrame(res, index=index)

In [90]:
old_base_path = "/mnt/DATA/mlearning/n.ermolaev/dataset/vk_video"
old_dss = [
    old_base_path + "/features_dump-old_sq.20220915.preprocessed.with_info/" + "low_texts",
    old_base_path + "/features_dump-vk_markers.20221214.preprocessed.with_info/" + "low_texts",
    old_base_path + "/features_dump-youtube_markers.20221214.preprocessed.with_info/" + "low_texts",
]

old_train_datasets = []
old_test_datasets  = []
for ds_dir in old_dss:
    old_train_datasets.extend(main(ds_dir, "texts_train.*"))
for ds_dir in old_dss:
    old_test_datasets.extend(main(ds_dir, "texts_test.*"))

In [91]:
new_base_path = "/home/armen.kocharyan/datasets/test_video" # replace to test_video_wt_dropdupl
new_dss = [
    new_base_path + "/old_sq_markers/",
    new_base_path + "/vk_markers/",
    new_base_path + "/youtube_markers/",
]

new_train_datasets = []
new_test_datasets  = []
for ds_dir in new_dss:
    new_train_datasets.extend(main(ds_dir, "data_train.*"))
for ds_dir in new_dss:
    new_test_datasets.extend(main(ds_dir, "data_test.*"))

In [92]:
# # new_train_datasets = main("/home/armen.kocharyan/datasets/2023_12_datasets/", "*train*")
# new_test_datasets = main("/home/armen.kocharyan/datasets/2023_12_datasets/", "*test*")

# new_train_datasets = [
#     '/home/armen.kocharyan/datasets/2023_12_datasets/old_sq_markers.20231205.dset.train.tsv.gz',
#      '/home/armen.kocharyan/datasets/2023_12_datasets/youtube_markers.20231205.dset.train.tsv.gz',
#      '/home/armen.kocharyan/datasets/2023_12_datasets/vk_markers.20231205.dset.train.tsv.gz',
# ]

In [106]:
# Тут без удаления дубликатов (дубликаты будут удалены в create_df)
new_train_datasets

['/home/armen.kocharyan/datasets/test_video_wt_dropdupl/old_sq_markers/data_train.tsv',
 '/home/armen.kocharyan/datasets/test_video_wt_dropdupl/vk_markers/data_train.tsv',
 '/home/armen.kocharyan/datasets/test_video_wt_dropdupl/youtube_markers/data_train.tsv']

In [94]:
old_data_queries = get_queries(old_train_datasets)

In [88]:
new_data_queries = get_queries(new_train_datasets)

/tmp/ipykernel_8744/1374927730.py:1: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  new_data_queries = get_queries(new_train_datasets)

In [95]:
tmp = new_data_queries.copy()
new_data_queries = {}
for name in tmp:
    new_data_queries[dict_ds_rename(name)] = tmp[name]
tmp = old_data_queries.copy()
old_data_queries = {}
for name in tmp:
    old_data_queries[dict_ds_rename(name)] = tmp[name]

In [83]:
# С удалением дубликатов 
create_df(old_data_queries, new_data_queries)

,uniq_union,uniq_intersec,uniq_old,uniq_new,old,new,union
old_sq,58278,40510,42612,56176,372934,244352,617286
vk_markers,73260,22482,26033,69709,239487,293098,532585
youtube_markers,50955,10377,11378,49954,107980,352928,460908

In [97]:
# Без удаления дубликатов (старая ячейка)
create_df(old_data_queries, new_data_queries)

,uniq_union,uniq_intersec,uniq_old,uniq_new,old,new,union
old_sq,58278,40510,42612,56176,372934,259394,632328
vk_markers,73260,22482,26033,69709,239487,323720,563207
youtube_markers,50955,10377,11378,49954,107980,385134,493114

<span style="color:red">  Тут можно посмотреть на статистику  запросов (в частности уникальных) в старых и новых датасетах (также после объединения) </span>

## Merge datasets & calc stats

In [98]:
def get_dfs(dataset, add_freak_column=False):
    dfs = {}
    for ds in dataset:
      df = pd.read_csv(ds, sep="\t", header=None)
      if add_freak_column:
         df = df.rename(columns={0:"query", 1:"title", 2:"body", 3: "rel"})
         df.insert(3, "user", np.nan)
      else:
         df = df.rename(columns={0: "query", 1: "title", 2: "body", 3: "user", 4: "rel"}) 
      dfs[dict_ds_rename(ds)] = [df]
    return dfs


def merge_dfs(old_trains, new_trains):
    res = []
    index = []
    for key in old_trains:
        old   = old_trains[key][0]
        new   = new_trains[key][0]
        merge = pd.concat([old, new])
        merge = merge.drop_duplicates(subset=["query", "title"], keep="first")
        # assert len(old) + len(new) == len(merge)
        res.append({
            "old":          len(old),
            "new":          len(new),
            "drop_d_old":   len(old.drop_duplicates(subset=["query", "title"], keep="first")),
            "drop_d_new":   len(new.drop_duplicates(subset=["query", "title"], keep="first")),
            "merge":        len(merge),
        })
        index.append(key)
    return pd.DataFrame(res, index=index)

In [99]:
old_trains = get_dfs(old_train_datasets, True)

In [100]:
new_trains = get_dfs(new_train_datasets)

/tmp/ipykernel_8744/2881011822.py:1: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  new_trains = get_dfs(new_train_datasets)

<span style="color:red"> Тут можно увидеть количество точек в интересующих нас старых и новых наборах  после удаления дубилкатов. Можно увидеть, что после конкатенации и удаления дубликатов количество точек больше, чем в предыдущих корпусах. Возможно имеет смысл действительно объединить их. Однако, нужно учесть, что дубликаты  по ["query", "title"] могут содержать разные заполненные поля и оценки.</span>

In [101]:
merge_dfs(old_trains, new_trains)

                    old     new  drop_d_old  drop_d_new   merge
old_sq           372934  259394      333118      244352  407621
vk_markers       239487  323720      214490      293098  374536
youtube_markers  107980  385134       98076      352928  389151

In [102]:
tmp = new_trains["old_sq"][0]
tmp[tmp.duplicated(subset=["query", "title"], keep=False)].sort_values("query").head()

,query,title,body,user,rel
237175,0 5 ставки что с индексацией зп украина,Порядок индексации зарплаты в 2019 году,Про индексацию зарплаты с 1 января 2019 года р...,Журнал Упрощёнка,1
192594,0 5 ставки что с индексацией зп украина,Порядок индексации зарплаты в 2019 году,Про индексацию зарплаты с 1 января 2019 года р...,NaN,1
83242,02 hulk hogan,MTV - По домам - Hulk Hogan (02.01.2010),Hulk Hogan,NaN,2
83241,02 hulk hogan,MTV - По домам - Hulk Hogan (02.01.2010),Hulk Hogan,NaN,2
167319,05 крокодил virtual insanity cover,Beatles Style UK Rock,01. Viva la Vida (Coldplay cover) (0:00) 02. ...,Марк Маренин,1

In [104]:
tmp = old_trains["old_sq"][0]
tmp[tmp.duplicated(subset=["query", "title"], keep=False)].sort_values("title").head()

,query,title,body,user,rel
315884,сосать волосатый клитор,# Секс # Порно # Девушки # Sex # Porn # Girls ...,# Секс # Порно # Девушки # Sex # Porn # Girls ...,NaN,1
315881,сосать волосатый клитор,# Секс # Порно # Девушки # Sex # Porn # Girls ...,# Секс # Порно # Девушки # Sex # Porn # Girls ...,NaN,1
315880,сосать волосатый клитор,# Секс # Порно # Девушки # Sex # Porn # Girls ...,# Секс # Порно # Девушки # Sex # Porn # Girls ...,NaN,3
315879,сосать волосатый клитор,# Секс # Порно # Девушки # Sex # Porn # Girls ...,# Секс # Порно # Девушки # Sex # Porn # Girls ...,NaN,1
315883,сосать волосатый клитор,# Секс # Порно # Девушки # Sex # Porn # Girls ...,# Секс # Порно # Девушки # Sex # Porn # Girls ...,NaN,3

### Check duplicate

In [105]:
# !ls ../../datasets/test_video_wt_dropdupl/vk_rich_serps_markers

In [11]:
base_path = "../../datasets/test_video_wt_dropdupl/vk_rich_serps_markers"
file_path = os.path.join(base_path, "data_train.tsv")
df = pd.read_csv(file_path, sep='\t', header=None).rename(columns={k:v for k,v in enumerate(["query", "title", "body", "user", "rel"])})

/home/armen.kocharyan/dev_env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3508: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [35]:
df[df.duplicated(subset=["query", "title"], keep=False)].sort_values('title').head()

,query,title,body,user,rel
273492,гарри поттер 2 часть,Harry Potter 2 » Гарри Поттер 2,Второй год обучения в Хогвартсе начался дл...,мир волшебства × quiet pool,0
273493,гарри поттер 2 часть,Harry Potter 2 » Гарри Поттер 2,Второй год обучения в Хогвартсе начался дл...,мир волшебства × quiet pool,0
273496,гарри поттер 3 часть,Harry Potter 3 » Гарри Поттер 3,"Летние каникулы, которые Гарри Поттер выну...",мир волшебства × quiet pool,0
273494,гарри поттер 3 часть,Harry Potter 3 » Гарри Поттер 3,"Летние каникулы, которые Гарри Поттер выну...",мир волшебства × quiet pool,0
273497,гарри поттер 3 часть,Harry Potter 3 » Гарри Поттер 3,"Летние каникулы, которые Гарри Поттер выну...",мир волшебства × quiet pool,0

In [ ]:
# При удалении дубликтов в серпах размер датасета сильно уменьшается, вот пример дубликатов